/node_modules/
/.vs/
/.vscode/
/target/
/logs/
/dist/
payload/
release-input.json
release-output/
*.asar
*.jar
*.bbmodel
*.glb
*.zip
*.exe
config.json
**/logs/
**/screenshots/
**/saves/
**/playerdata/
**/authme.jsonc
**/chzzk.json
**/sodium-fingerprint.json

**/__pycache__/
